<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <div>
          <form action="/ta03/results" method="POST">
          <input type="text" placeholder="Filter by tag" name="search" style="color: black">
          <button class="btn-success" type="submit">Submit</button>
        </form>
        </div>
        <% if (items.length > 0) { %>
          <div class='grid'>
            <% for (let item of items) { %>
              <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= item.name %> 
                    </h1>
                </header>
                <div class="card__image">
                    <img src="<%= item.imageUrl %>" alt="<%= item.name %>">
                </div>
                <div class="card__content">
                    <h2 class="product__price">$<%= item.price %></h2>
                    <p class="product__description"><%= item.description %> </p>
                </div>
                <div class="card__actions">
                    
                </div>
            </article>
        <% } %>
    </div>
  <% } else { %>
      <h1>No Products Found!</h1>
  <% } %>
</div>
          </div>

      </div>
    </div>
    <div class="container">

    </div>


</body>

</html>